<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa accusantium, sequi facilis quos modi iste aut iure beatae eos animi repellendus! Itaque modi molestiae quidem quasi, soluta deserunt id doloribus magnam dolore laborum numquam omnis aliquam reiciendis quas in voluptate amet quos ratione fugit repellat? Reiciendis dolorum omnis ducimus ullam?</p>
    <br>
    <button>click me!</button>
    
</body>
</html>